[submodule "Tomato/vendor/spdlog"]
	path = Tomato/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tomato/vendor/glfw"]
	path = Tomato/vendor/glfw
	url = https://github.com/glfw/glfw
